# Repository
* @archway-network/Protocol

# Protocol & NetX
releasing-archway.md    @archway-network/Protocol @archway-network/NetX

# NetX Specific
.github/workflows/*     @archway-network/NetX
ci/*                    @archway-network/NetX
Dockerfile*             @archway-network/NetX
