name: Run InterchainTest

on:
    pull_request:
        branches: 
            - main

jobs:
    build_images:
        name: Build archway images 
        runs-on: ubuntu-latest

        steps:
            - name: Checkout archway-network/archway
              uses: actions/checkout@v3
              with:
                fetch-depth: 0

            - name: Get last release tag
              id: lastrelease
              uses: revam/gh-action-get-tag-and-version@v1

            - name: Checkout heighliner
              uses: actions/checkout@v3
              with:
                repository: strangelove-ventures/heighliner
                path: heighliner

            - name: Setup up Golang
              uses: actions/setup-go@v4
              with:
                go-version-file: 'heighliner/go.mod'
            
            - name: Install heighliner
              run: cd heighliner && go install

            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Build current image
              run: |
                heighliner build --org archway-network --repo archway --dockerfile cosmos --build-target "make build" --build-env "BUILD_TAGS=muslc" --binaries "build/archwayd" --git-ref ${{ github.head_ref }} --tag local
                docker image tag acrechain:local archway:local
                docker rmi acrechain:local

            - name: Upload current image
              uses: ishworkh/container-image-artifact-upload@v1.0.0
              with:
                image: archway:local
                retention_days: 3

            - name: Build ${{ steps.lastrelease.outputs.tag }} image
              run: |
                heighliner build --org archway-network --repo archway --dockerfile cosmos --build-target "make build" --build-env "BUILD_TAGS=muslc" --binaries "build/archwayd" --git-ref ${{ steps.lastrelease.outputs.tag }} --tag ${{ steps.lastrelease.outputs.tag }}
                docker image tag acrechain:${{ steps.lastrelease.outputs.tag }} archway:${{ steps.lastrelease.outputs.tag }}
                docker rmi acrechain:${{ steps.lastrelease.outputs.tag }}
            
            - name: Upload ${{ steps.lastrelease.outputs.tag }} image
              uses: ishworkh/container-image-artifact-upload@v1.0.0
              with:
                image: archway:${{ steps.lastrelease.outputs.tag }}
                retention_days: 3

    run_chain_upgrade_test:
        name: Chain upgrade test 
        needs: [build_images]
        runs-on: ubuntu-latest

        steps:
            - name: Checkout archway-network/archway/interchaintest
              uses: actions/checkout@v3
              with:
                fetch-depth: 0
                sparse-checkout: interchaintest

            - name: Setup up Golang
              uses: actions/setup-go@v4
              with:
                go-version-file: 'interchaintest/go.mod'

            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Download current image
              uses: actions/download-artifact@v3
              with:
                name: action_image_artifact_archway_local

            - name: Load current image
              run: docker load --input archway_local

            - name: Get last release tag
              id: lastrelease
              uses: revam/gh-action-get-tag-and-version@v1

            - name: Download ${{ steps.lastrelease.outputs.tag }} image
              uses: actions/download-artifact@v3
              with:
                name: action_image_artifact_archway_${{ steps.lastrelease.outputs.tag }}

            - name: Load ${{ steps.lastrelease.outputs.tag }} image
              run: docker load --input archway_${{ steps.lastrelease.outputs.tag }}

            - name: Run chain upgrade test
              run: |
                cd interchaintest
                go test -v -race -run TestChainUpgrade

    run_conformance_tests:
        name: ${{ matrix.testname }}
        needs: [build_images]
        runs-on: ubuntu-latest
        strategy:
          fail-fast: false
          matrix:
            testname:
              - "TestGaiaConformance"
              - "TestOsmosisConformance"
        
        steps:
          - name: Checkout archway-network/archway/interchaintest
            uses: actions/checkout@v3
            with:
              fetch-depth: 0
              sparse-checkout: interchaintest

          - name: Setup up Golang
            uses: actions/setup-go@v4
            with:
              go-version-file: 'interchaintest/go.mod'

          - name: Setup Docker Buildx
            uses: docker/setup-buildx-action@v2

          - name: Download current image
            uses: actions/download-artifact@v3
            with:
              name: action_image_artifact_archway_local

          - name: Load current image
            run: docker load --input archway_local

          - name: Run chain conformance test
            run: |
              cd interchaintest
              go test -v -race -run  ${{ matrix.testname }}